<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <script src="script.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <ul>
    <li><a class ="leftLi" th:href="@{/}">Home</a></li>
    <li><a class ="leftLi" th:href="@{/about}">About</a></li>
    <li style = "float:right"><a class ="rightLi" th:href="@{/box}">Add</a></li>
  </ul>
    <form action="#" method="post" th:action="@{/box}" th:object="${box}">
        <input type="text" th:field=*{name} placeholder="Name"> <br>
        <input type="color" th:field=*{color} placeholder="Color (hex code)"> <br>
        <input type="text" pattern="[0-9]+" th:field=*{width} placeholder="Width"> <br>
        <input type="text" pattern="[0-9]+" th:field=*{height} placeholder="Height"> <br>
        <input type="submit" value="Submit Box">
    </form>
</body>
</html>
